<div class="row">
    <div class="col-sm-12 col-md-4 col-xl-2">
        <button type="button" class="btn btn-block btn-default">
            Vehicle
        </button>
    </div>
    <div class="col-md-4 col-xl-2">
        <button type="button" class="btn btn-block btn-default">
           Base Vehicle
        </button>
    </div>

    <div class="col-md-4 col-xl-2">
        <button type="button" class="btn btn-block btn-default">
            Make
        </button>
    </div>
    <div class="col-md-4 col-xl-2">
        <button type="button" class="btn btn-block btn-default">
            Model
        </button>
    </div>

</div>